/* Sass Document */
@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway:700|Ranga')
$cursiveheading: Cinzel Decorative
$text: Raleway
$heading: Ranga
$purple: #b452ff

body
	background-image: 		url("../Images/green_cup.png")
	font-family: 			$text
	text-align: 			justify

.container
	background-color: 		white
	margin-top: 			10px
	
.title
	font-family: 			$cursiveheading
	text-align: 			center
	font-size: 				auto
	span
		color: 				$purple
	
.subheading
	text-align: 			center
	
h1, h2, h3, h4, h5, h6
	font-family: 			$heading
	text-align: 			center
	
.nav
	li
		text-align: 		center
	
footer
	background-color: 		grey
	color: 					white
	text-align: 			center
	
hr
	border: 				none
	color: 					rgba(180, 82, 255, 0.72)
	background-color: 		rgba(180, 82, 255, 0.72)
	height: 				5px
	
.question
	display: 				flex
	flex-wrap: 				wrap
	&>[class*="col-"]
		display: 			flex
		flex-direction: 	column
.answer
	&:nth-child(even)
		background-color: 	#b8b8b8