@import url('https://fonts.googleapis.com/css?family=Della+Respira|Raleway|Italianno')
$title: 	Italianno, Arial, Droid Sans, sans-serif
$headings: 	Della Respira, Droid Serif, Georgia, serif
$body: 		Raleway, Arial, Droid Sans, sans-serif
$base: 		1rem
$mod-scale:	1.618
$red: 		#70161E
$blue: 		#0D1F2D
$white: 	#FFFCE8
$grey: 		#586F7C

.character
	color: white
	background-color: black

html, body
	font-size: $base
	font-family: $body
	background-color: $white
	height: 100%
	margin: 0
	padding: 0
	color: black
	text-align: justify

header
	background-color: $blue
	text-align: center
	color: $white
	width: 100%
	margin-top: -53px /*Remove white space above banner*/
	span
		display: inline-block /*Make Data Analyst move onto new line when window is small*/

	h1
		margin-top: $base * $mod-scale * 1.75
	h2
		color: white

#logo
	margin-top: $base * $mod-scale * 1.5
	margin-left: 0 
	height: $base * $mod-scale * 8
	width: $base * $mod-scale * 8
	max-width: 100%
	float: left
h1
	font-size: $base * $mod-scale * 3
	font-family: $title
	margin-bottom: $base * $mod-scale * -2.5 /*Remove space from lines*/

h2, h3, h4
	font-family: $headings
	color: $red
	text-align: center

h2
	font-size: $base * $mod-scale * 2
	margin-bottom: $base * $mod-scale * -0.05

nav
	display: flex
	width: 100%
	height: $base * $mod-scale
	background-color: $red
	a
		margin: auto
		text-decoration: none
		font-family: $body
		color: white

main
	margin: 0 ($base * $mod-scale * 3)
	min-height: calc(100vh - ($base * $mod-scale * 1.5))

article
	margin-bottom: $base * $mod-scale * 3
	padding: 0 $base
	&:nth-of-type(1)
		margin-top: $base * $mod-scale

table
	width: 90%
	margin: 0 ($base * $mod-scale)
	border-collapse: collapse

th
	font-family: $headings
	font-size: 100%
	color: $red
	text-align: center

h3
	font-size: $base * $mod-scale
	margin-bottom: $base * $mod-scale * -0.5

#lang
	td:nth-of-type(2)
		text-align: center

	.rowcolour
		background-color: darken($white, 25%)
img
	max-width: 100%

form
	display: table
	width: 100%
	p
		display: table-row
	label
		display: table-cell
	input
		display: table-cell
		width: 90%
		margin: 0 0 ($base/2) 0
	textarea
		width: 90%
	.button
		width: 90%
		background-color: $blue
		color: white
		border: $base/4 solid $blue
		font-family: $body
		border-radius: $base/3

footer
	height: $base * $mod-scale * 2
	width: 100%
	background-color: $grey
	color: $white
	text-align: center
	display: table
	verticle-align: middle

	a
		text-decoration: none
		color: $red



@media only screen and (max-width: 430px) /*Anything less than or equal to 430px in width*/
	h1
		font-size: $base * $mod-scale * 2
		margin-top: $base * $mod-scale * 2
		margin-bottom: $base * $mod-scale * -1.5 /*Remove space from lines*/
	h2, h3
		font-family: $headings
		color: $red
		text-align: center
	h2
		font-size: $base * $mod-scale * 1.05
		margin-bottom: $base * $mod-scale * -0.05
	main
		font-size: $base
		margin: 0 $base
	nav
		height: $base * 4.5
		a
			font-size: ($base * 4) / ($mod-scale * 3)
			padding: $base/2





@media only screen and (min-width: 1000px) /*Anything greater than or equal to 1000px in width*/
	main
		margin: 0 ($base * $mod-scale * 8)
		font-size: $base * $mod-scale




@media only screen and (min-width: 429px) and (max-width: 629px) /* >=429px & <=629px*/
	main
		margin: 0 
		font-size: $base
	nav
		height: $base * 2



@media only screen and (min-width: 630px) and (max-width: 999px) /*>=630px & <=999px*/
	main
		margin: 0 ($base * $mod-scale)
		font-size: $base * 1.62
